<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">

        <div class="container-fluid">

            <!-- Breadcrums -->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- Mi sistema de rutas  -->

                <router-outlet></router-outlet>
            
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- antes -->
                <!-- 
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </div> 
                -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->

        </div>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © {{year}} Admin Pro by mat.com
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->

    </div> 

</div>